@use '../../utils/' as * ;

/*============= FAQ CSS AREA ===============*/
.faq-inner-section-area {
    position: relative;
    z-index: 1;
    .elements15 {
        position: absolute;
        right: 0;
        top: -200px;
    }
    .faq-widget-area {
        ul {
            justify-content: center;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.10);
            padding: 18px 18px 18px 18px;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            li {
                display: inline-block;
                button {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px; /* 100% */
                    letter-spacing: -0.18px;
                    text-transform: uppercase; 
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.10);
                    padding: 16px 20px; 
                    margin: 0 16px 0 0; 
                    @media #{$xs} {
                        margin: 0 16px 10px 0; 
                    }
                    @media #{$md} {
                        margin: 0 16px 10px 0; 
                    }
                    &.active {
                        background: var(--ztc-bg-bg-7);
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }              
                }
            }
        }

        .accordion {
            .accordion-item {
                border-radius: 16px;
                background: var(--ztc-bg-bg-7);
                border: none;
                padding: 0;
                text-align: start;
                button {
                    padding: 40px 48px;
                    box-shadow: none;
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s32);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    text-transform: capitalize;   
                    border-radius: 14px;
                    background: #1C1F22;
                    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.09);            
                    @media #{$md} {
                        font-size: var(--ztc-font-size-font-s24);
                        line-height: 24px;
                    }
                    @media #{$xs} {
                        padding: 20px 24px;
                        font-size: var(--ztc-font-size-font-s20);
                        line-height: 28px;
                    }
                    &::before {
                        height: 48px;
                        width: 48px;
                        position: absolute;
                        content: "";
                        background: var(--ztc-bg-bg-7);
                        right: 34px;
                        top: 32px;
                        transition: all 0.4s;
                        border-radius: 50%;
                        @media #{$xs} {
                            right: 10px;
                            top: 25px;
                        }
                        @media #{$md} {
                            top: 27px;
                        }
                    }
                    &::after {
                        z-index: 1;
                        filter: brightness(0);
                    }
                    &.accordion-button:not(.collapsed) {
                        box-shadow: none;
                        padding: 40px 48px 20px 48px;
                        background: none;
                        color: var(--ztc-text-text-4);
                        &::before {
                            background: var(--ztc-bg-bg-5);
                            transition: all .4s;
                        }
                        &::after {
                            filter: brightness(0) invert(1);
                        }
                        @media #{$xs} {
                            padding: 20px 24px 20px 24px;
                        }
                    }
                }
                .accordion-body {
                    padding: 0;
                    p {
                        color: var(--ztc-text-text-4);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px; 
                        opacity: 90%;
                        padding: 0 40px 40px 40px;  
                        @media #{$xs} {
                            padding: 0 24px 20px 24px;
                        }              
                    }
                }
            }
        }
    }
    .tab-pane {
        transform: translateY(100px);
        position: relative;
        z-index: 1;
        transition: all .4s;
        &.fade.show.active {
            transform: translateY(0px);
            transition: all .4s;
        }
    }
}
/*============= FAQ CSS AREA ===============*/