@use '../../utils/' as * ;

/*============= TEAM CSS AREA ===============*/
.team1-section-area {
    position: relative;
    z-index: 1;
    .progresbar {
        display: flex;
        align-items: center;
        .progressbar {
            position: relative;
            .circle {
                height: 80px;
                width: 80px;
                canvas {
                    width: 80px;
                    height: 80px;
                    transform: rotate(90deg);
                }
            }
            .count {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 20px; /* 100% */
                position: absolute;
                top: 37%;
                left: 28%;
            }
          }
      .content-area {
        padding-left: 10px;
        h4 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s20);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 20px; /* 100% */                
        }
      }  
    }
    .team-author-boxarea {
        position: relative;
        z-index: 1;
        border-radius: 16px;
        overflow: hidden;
        transition: all .4s;
        margin-bottom: 30px;
        &::after {
            position: absolute;
            content: "";
            height: 0;
            width: 100%;
            bottom: 0;
            left: 0;
            transition: all .4s;
            background: linear-gradient(180deg, rgba(206, 241, 43, 0.00) 42.14%, rgba(206, 241, 43, 0.90) 77.05%);
            z-index: 1;
        }
        &:hover {
            &::after {
                height: 100%;
                transition: all .4s;
            }
            .list {
                right: 35px;
                transition: all .6s;
            }
            .content-area {
               visibility: visible;
               opacity: 1;
               transform: scale(1);
               transition: all .4s;
            }
        }
        .elements7 {
            position: absolute;
            left: 50%;
            z-index: -1;
            margin-left: -155px;
            top: 50%;
            margin-top: -155px;
        }
        .img1 {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }

       .list {
        position: absolute;
        right: -100px;
        top: 28%;
        z-index: 2;
        transition: all .6s;
        @media #{$md} {
            top: 13%;
        }
        @media #{$xs} {
            top: 13%;
        }
        ul {
            li {
                a {
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 48px;
                    transition: all .4s;
                    border-radius: 50%;
                    display: inline-block;
                    background: var(--ztc-bg-bg-1);
                    color: var(--ztc-text-text-4);
                    font-size: var(--ztc-font-size-font-s20);
                    margin-bottom: 10px;
                    &:hover {
                        background: var(--ztc-bg-bg-7);
                        transition: all .4s;
                    }
                }
            }
        }
       }
        .content-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--ztc-bg-bg-1);
            border-radius: 8px;
            padding: 24px;
            position: absolute;
            bottom: 24px;
            left: 20px;
            right: 20px;
            z-index: 2;
            transition: all .6s;
            visibility: hidden;
            opacity: 0;
            transform: scale(0.8);
            .content {
                a {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 24px;
                    letter-spacing: -0.48px;    
                    display: inline-block; 
                    transition: all .4s;   
                    &:hover {
                        color: var(--ztc-text-text-8);
                        transition: all .4s;
                    }
                }
                p {
                    color: rgba(17, 17, 17, 0.90);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 18px;     
                }
            }
            .share {
                a {
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 48px;
                    display: inline-block;
                    border-radius: 50%;
                    background: var(--ztc-bg-bg-5);
                    transition: all .4s;
                }
            }
        }
    }
}

// Homepage 02 //
.team2-section-area {
    position: relative;
    z-index: 1;
    .team-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$xs} {
            display: block;
            .btn-area1 {
                margin-top: 20px;
            }
        }
        @media #{$md} {
            display: block;
            .btn-area1 {
                margin-top: 20px;
            }
        }
    }
    .team-author-boxarea {
        position: relative;
        z-index: 1;
        border-radius: 16px;
        overflow: hidden;
        transition: all .4s;
        margin-bottom: 30px;
        &::after {
            position: absolute;
            content: "";
            height: 0;
            width: 100%;
            bottom: 0;
            left: 0;
            transition: all .4s;
            background: linear-gradient(180deg, rgba(206, 241, 43, 0.00) 42.14%, rgba(254, 254, 31, 0.90) 77.05%);
            z-index: 1;
        }
        &:hover {
            &::after {
                height: 100%;
                transition: all .4s;
            }
            .list {
                right: 35px;
                transition: all .6s;
            }
            .content-area {
               visibility: visible;
               opacity: 1;
               transform: scale(1);
               transition: all .4s;
            }
        }
        .elements7 {
            position: absolute;
            left: 50%;
            z-index: -1;
            margin-left: -155px;
            top: 50%;
            margin-top: -155px;
        }
        .img1 {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }

       .list {
        position: absolute;
        right: -100px;
        top: 28%;
        z-index: 2;
        transition: all .6s;
        @media #{$md} {
            top: 13%;
        }
        @media #{$xs} {
            top: 13%;
        }
        ul {
            li {
                a {
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 48px;
                    transition: all .4s;
                    border-radius: 50%;
                    display: inline-block;
                    background: var(--ztc-bg-bg-1);
                    color: var(--ztc-text-text-4);
                    font-size: var(--ztc-font-size-font-s20);
                    margin-bottom: 10px;
                    &:hover {
                        background: var(--ztc-bg-bg-8);
                        transition: all .4s;
                    }
                }
            }
        }
       }
        .content-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--ztc-bg-bg-1);
            border-radius: 8px;
            padding: 24px;
            position: absolute;
            bottom: 24px;
            left: 20px;
            right: 20px;
            z-index: 2;
            transition: all .6s;
            visibility: hidden;
            opacity: 0;
            transform: scale(0.8);
            .content {
                a {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 24px;
                    letter-spacing: -0.48px;    
                    display: inline-block; 
                    transition: all .4s;   
                }
                p {
                    color: rgba(17, 17, 17, 0.90);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 18px;     
                }
            }
            .share {
                a {
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 48px;
                    display: inline-block;
                    border-radius: 50%;
                    background: var(--ztc-bg-bg-5);
                    transition: all .4s;
                }
            }
        }
    }
}

// Homepage 03 //
.team3-section-area {
    position: relative;
    z-index: 1;
    .elements15 {
        position: absolute;
        top: -335px;
        right: 0;
    }
    .progresbar {
        display: flex;
        align-items: center;
        .progressbar {
            position: relative;
            .circle {
                height: 80px;
                width: 80px;
                canvas {
                    width: 80px;
                    height: 80px;
                    transform: rotate(90deg);
                }
            }
            .count {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 20px; /* 100% */
                position: absolute;
                top: 37%;
                left: 28%;
            }
          }
      .content-area {
        padding-left: 10px;
        h4 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s20);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 20px; /* 100% */                
        }
      }  
    }
    .team2-boxarea {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        &:hover {
            ul {
                bottom: 100px;
                transition: all .6s;
                visibility: visible;
                opacity: 1;
            }
            .img1 {
                .elements16 {
                    visibility: visible;
                    opacity: 1;
                    transition: all .4s;
                }
                &::after {
                    height: 100%;
                    transition: all .4s;
                }
            }
        }
        ul {
            position: absolute;
            bottom: 200px;
            z-index: 2;
            left: 21%;
            right: 21%;
            visibility: hidden;
            opacity: 0;
            transition: all .6s;
            @media #{$xs} {
                left: 25%;
                right: 25%;
            }    
            @media #{$md} {
                left: 24%;
                right: 24%;
            }
            li {
                display: inline-block;
                a {
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    transition: all .4s;
                    display: inline-block;
                    background: var(--ztc-bg-bg-1);
                    color: var(--ztc-text-text-4);
                    &:hover {
                        background: var(--ztc-bg-bg-7);
                        transition: all .4s;
                    }
                }
            }
        }
        .img1 {
            position: relative;
            z-index: 1;
            overflow: hidden;
            .elements16 {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: all .4s;
                z-index: -1;
            }
            &::after {
                position: absolute;
                content: "";
                height: 0;
                width: 100%;
                left: 0;
                bottom: 0;
                transition: all .4s;
                background: linear-gradient(180deg, rgba(206, 241, 43, 0.00) 42.14%, rgba(206, 241, 43, 0.63) 77.05%);    
                border-radius: 16px;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }
        .content-area {
            text-align: center;
            a {
                color: var(--ztc-text-text-1);
                text-align: center;
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 20px; /* 100% */
                letter-spacing: -0.4px;
                text-transform: uppercase; 
                display: inline-block;
                transition: all .4s;
                &:hover {
                    color: var(--ztc-text-text-8);
                    transition: all .4s;
                }       
            }
            p {
                color: var(--ztc-text-text-1);
                text-align: center;
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 16px;     
            }
        }
    }
}

// Homepage 04 //
.team4-section-area {
    position: relative;
    z-index: 1;
    .progresbar {
        display: flex;
        align-items: center;
        .progressbar {
            position: relative;
            .circle {
                height: 80px;
                width: 80px;
                canvas {
                    width: 80px;
                    height: 80px;
                    transform: rotate(90deg);
                }
            }
            .count {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 20px; /* 100% */
                position: absolute;
                top: 37%;
                left: 28%;
            }
          }
      .content-area {
        padding-left: 10px;
        h4 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s20);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 20px; /* 100% */                
        }
      }  
    }
    .team-author-boxarea {
        position: relative;
        z-index: 1;
        border-radius: 16px;
        overflow: hidden;
        transition: all .4s;
        margin-bottom: 30px;
        &::after {
            position: absolute;
            content: "";
            height: 0;
            width: 100%;
            bottom: 0;
            left: 0;
            transition: all .4s;
            background: linear-gradient(180deg, rgba(251, 133, 0, 0.00) 42.14%, rgba(251, 133, 0, 0.90) 77.05%);
            z-index: 1;
        }
        &:hover {
            &::after {
                height: 100%;
                transition: all .4s;
            }
            .list {
                right: 35px;
                transition: all .6s;
            }
            .content-area {
               visibility: visible;
               opacity: 1;
               transform: scale(1);
               transition: all .4s;
            }
        }
        .elements7 {
            position: absolute;
            left: 50%;
            z-index: -1;
            margin-left: -155px;
            top: 50%;
            margin-top: -155px;
        }
        .img1 {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }

       .list {
        position: absolute;
        right: -100px;
        top: 28%;
        z-index: 2;
        transition: all .6s;
        @media #{$md} {
            top: 13%;
        }
        @media #{$xs} {
            top: 13%;
        }
        ul {
            li {
                a {
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 48px;
                    transition: all .4s;
                    border-radius: 50%;
                    display: inline-block;
                    background: var(--ztc-bg-bg-1);
                    color: var(--ztc-text-text-4);
                    font-size: var(--ztc-font-size-font-s20);
                    margin-bottom: 10px;
                    &:hover {
                        background: var(--ztc-bg-bg-10);
                        transition: all .4s;
                        color: var(--ztc-text-text-1);
                    }
                }
            }
        }
       }
        .content-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--ztc-bg-bg-1);
            border-radius: 8px;
            padding: 24px;
            position: absolute;
            bottom: 24px;
            left: 20px;
            right: 20px;
            z-index: 2;
            transition: all .6s;
            visibility: hidden;
            opacity: 0;
            transform: scale(0.8);
            .content {
                a {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 24px;
                    letter-spacing: -0.48px;    
                    display: inline-block; 
                    transition: all .4s; 
                    &:hover {
                        color: var(--ztc-text-text-11);
                        transition: all .4s;
                    }  
                }
                p {
                    color: rgba(17, 17, 17, 0.90);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 18px;     
                }
            }
            .share {
                a {
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 48px;
                    display: inline-block;
                    border-radius: 50%;
                    background: var(--ztc-bg-bg-5);
                    transition: all .4s;
                }
            }
        }
    }
}
/*============= TEAM CSS AREA STARTS ===============*/