@use '../../utils/' as * ;

/*============= WORK CSS AREA ===============*/
.project-inner-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .tabs-area {
        ul {
            justify-content: center;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.10);
            padding: 18px 18px 18px 18px;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            li {
                display: inline-block;
                button {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px; /* 100% */
                    letter-spacing: -0.18px;
                    text-transform: uppercase; 
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.10);
                    padding: 16px 20px; 
                    margin: 0 16px 0 0; 
                    @media #{$xs} {
                        margin: 0 16px 10px 0; 
                    }
                    @media #{$md} {
                        margin: 0 16px 10px 0; 
                    }
                    &.active {
                        background: var(--ztc-bg-bg-7);
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }              
                }
            }
        }
    }
    .tab-content {
        .tab-pane {
            transform: translateY(100px);
                position: relative;
                z-index: 1;
                transition: all .4s;
                &.fade.show.active {
                    transform: translateY(0px);
                    transition: all .4s;
                }
            .all-project-area {
                .portfolio-boxarea {
                    overflow: hidden;
                    transition: all .4s;
                    border-radius: 16px;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;
                    &:hover {
                        .img1 {
                            img {
                                transform: scale(1.1) rotate(4deg);
                                transition: all .4s;
                            }
                            &::after {
                                visibility: visible;
                                opacity: 1;
                                transform: scale(1);
                                transition: all .4s;
                            }
                        }
                        .arrow-content {
                            bottom: 24px;
                            transition: all .6s;
                        }
                    }
                    .img1 {
                        position: relative;
                        z-index: 1;
                        overflow: hidden;
                        border-radius: 16px;
                        transition: all .4s;
                        &::after {
                            position: absolute;
                            content: "";
                            height: 100%;
                            width: 100%;
                            left: 0;
                            top: 0;
                            transition: all .4s;
                            border-radius: 16px;
                            background: rgba(3, 6, 10, 0.20);
                            backdrop-filter: blur(2px);
                            visibility: hidden;
                            opacity: 0;
                            transform: scale(0.7);
        
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 16px;
                            transition: all .4s;
                        }
                    }
        
                    .arrow-content {
                        background: var(--ztc-bg-bg-1);
                        border-radius: 8px;
                        padding: 44px 32px 24px 32px;
                        display: inline-block;
                        text-align: center;
                        position: absolute;
                        z-index: 1;
                        bottom: -240px;
                        left: 100px;
                        right: 100px;
                        transition: all .6s;
                        @media #{$xs} {
                            left: 20px;
                            right: 20px;
                        }
                        @media #{$md} {
                            left: 20px;
                            right: 20px;
                        }
                        .arrow {
                            position: absolute;
                            top: -55px;
                            left: 50%;
                            margin-left: -60px;
                            z-index: -1;
                            a {
                                height: 120px;
                                width: 120px;
                                text-align: center;
                                line-height: 90px;
                                border-radius: 50%;
                                background: var(--ztc-bg-bg-1);
                                transition: all .4s;
                                display: inline-block;
                                span {
                                    height: 48px;
                                    width: 48px;
                                    text-align: center;
                                    line-height: 48px;
                                    display: inline-block;
                                    transition: all .4s;
                                    background: var(--ztc-bg-bg-7);
                                    border-radius: 50%;
                                    color: var(--ztc-text-text-4);
                                    transform: rotate(-45deg);
                                    font-size: var(--ztc-font-size-font-s20);
                                }
                            }
                        }
                        .content-area {
                            p {
                                color: var(--Paragraph-Color, #443E3E);
                                text-align: center;
                                font-family: var(--ztc-family-font1);
                                font-size: var(--ztc-font-size-font-s16);
                                font-style: normal;
                                font-weight: var(--ztc-weight-semibold);
                                line-height: 16px;
                                text-transform: uppercase;        
                            }
                            a {
                                color: var(--ztc-text-text-4);
                                font-family: var(--ztc-family-font1);
                                font-size: var(--ztc-font-size-font-s20);
                                font-style: normal;
                                font-weight: var(--ztc-weight-bold);
                                line-height: 20px; 
                                text-transform: uppercase; 
                                display: inline-block;
                                transition: all .4s;  
                                &:hover {
                                    color: var(--ztc-text-text-8);
                                    transition: all .4s;
                                }     
                            }
                        }
                    }
                }
            }
        }
    }
}

.project-details-section-area{
    position: relative;
    z-index: 1;
    .project-details-side {
        position: sticky;
        top: 120px;
        h3 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 24px;
            text-transform: uppercase;        
        }
        .search-area {
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.08);  
            padding: 24px;
            form {
                position: relative;
                z-index: 1;
                input {
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.06);
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font2);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    padding: 19px 16px;
                    width: 100%;
                    &::placeholder {
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font2);
                        font-size: var(--ztc-font-size-font-s16);
                        font-style: normal;
                        font-weight: var(--ztc-weight-medium);
                        line-height: 16px;
                    }
                }
                button {
                    border: none;
                    outline: none;
                    color: var(--ztc-text-text-1);
                    background: none;
                    position: absolute;
                    right: 16px;
                    top: 12px;
                    font-size: var(--ztc-font-size-font-s20);
                }
            }
        }

        .project-details-box {
            position: relative;
            z-index: 1;
            padding: 24px;
            background: var(--ztc-bg-bg-7);
            border-radius: 16px;
            h3 {
                color: var(--ztc-text-text-4);
            }
           
            .list-details {
                display: flex;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #BADA39;
                h4 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: uppercase;        
                }
                h5 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: capitalize; 
                    padding-left: 16px; 
                }
            }
            .list-details1 {
                display: flex;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #BADA39;
                h4 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: uppercase;        
                }
                h5 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: capitalize;  
                    padding-left: 45px;
                }
            }

            .list-details2 {
                display: flex;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #BADA39;
                h4 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: uppercase;        
                }
                h5 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: capitalize; 
                    padding-left: 22px; 
                }
            }
            .list-details3 {
                display: flex;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #BADA39;
                h4 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: uppercase;        
                }
                h5 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: capitalize;  
                    padding-left: 48px;
                }
            }
            .list-details4 {
                display: flex;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #BADA39;
                h4 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: uppercase;        
                }
                h5 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: capitalize; 
                    padding-left: 26px; 
                }
            }
            .list-details5 {
                display: flex;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #BADA39;
                h4 {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    text-transform: uppercase;        
                }
                ul {
                    padding-left: 46px;
                    li {
                        display: inline-block;
                        a {
                            height: 28px;
                            width: 28px;
                            text-align: center;
                            line-height: 28px;
                            display: inline-block;
                            transition: all .4s;
                            background: var(--ztc-bg-bg-1);
                            color: var(--ztc-text-text-4);
                            font-size: var(--ztc-font-size-font-s16);
                            border-radius: 50%;
                            &:hover {
                                background: var(--ztc-text-text-4);
                                color: var(--ztc-text-text-1);
                                transition: all .4s;
                            }
                        }
                    }
                }
            }
        }
    }

    .project-details-area {
        padding: 0 0 0 30px;
        @media #{$xs} {
            padding: 0;
        }
        @media #{$md} {
            padding: 0;
        }
        .img1 {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        h2 {
            font-size: var(--ztc-font-size-font-s40);
            line-height: 46px;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s26) !important;
                line-height: 34px;
            }
        }
        h3 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s32);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 32px;
            letter-spacing: -0.64px;
            text-transform: uppercase;        
        }

        .progresbar {
            display: flex;
            align-items: center;
            margin-top: 20px;
            .progressbar {
                position: relative;
                .circle {
                    height: 80px;
                    width: 80px;
                    canvas {
                        width: 80px;
                        height: 80px;
                        transform: rotate(90deg);
                    }
                }
                .count {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 20px; /* 100% */
                    position: absolute;
                    top: 37%;
                    left: 28%;
                }
              }
          .content-area {
            padding-left: 10px;
            h4 {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 20px; /* 100% */                
            }
          }  
        }
        .btn-area1 {
            padding-bottom: 60px;
            border-bottom: 1px solid #1C1F22;
        }
        .list-area {
            li {
                display: inline-block;
                margin: 20px 20px 0 0;
                a {
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.10);
                    padding: 14px;
                    display: inline-block;
                    transition: all .4s;
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 18px;
                    letter-spacing: -0.32px;
                    &:hover {
                        background: var(--ztc-bg-bg-7);
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                        span {
                            background: var(--ztc-bg-bg-5);
                            color: var(--ztc-text-text-8);
                            transition: all .4s;
                        }
                    }
                    span {
                        height: 28px;
                        width: 28px;
                        text-align: center;
                        line-height: 28px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: all .4s;
                        background: var(--ztc-bg-bg-7);
                        color: var(--ztc-text-text-4);
                        margin: 0 6px 0 0;
                    }
                }
            }
        }
    }
}

.project-bottom-scetion {
    position: relative;
    z-index: 1;
    padding: 120px 0 90px 0;
    @media #{$xs} {
        padding: 60px 0 30px 0;
    }
    @media #{$md} {
        padding: 60px 0 30px 0;
    }

    .portfolio-boxarea {
        overflow: hidden;
        transition: all .4s;
        border-radius: 16px;
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        &:hover {
            .img1 {
                img {
                    transform: scale(1.1) rotate(4deg);
                    transition: all .4s;
                }
                &::after {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    transition: all .4s;
                }
            }
            .arrow-content {
                bottom: 24px;
                transition: all .6s;
            }
        }
        .img1 {
            position: relative;
            z-index: 1;
            overflow: hidden;
            border-radius: 16px;
            transition: all .4s;
            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                transition: all .4s;
                border-radius: 16px;
                background: rgba(3, 6, 10, 0.20);
                backdrop-filter: blur(2px);
                visibility: hidden;
                opacity: 0;
                transform: scale(0.7);

            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
                transition: all .4s;
            }
        }

        .arrow-content {
            background: var(--ztc-bg-bg-1);
            border-radius: 8px;
            padding: 44px 32px 24px 32px;
            display: inline-block;
            text-align: center;
            position: absolute;
            z-index: 1;
            bottom: -240px;
            left: 100px;
            right: 100px;
            transition: all .6s;
            @media #{$xs} {
                left: 20px;
                right: 20px;
            }
            @media #{$md} {
                left: 20px;
                right: 20px;
            }
            .arrow {
                position: absolute;
                top: -55px;
                left: 50%;
                margin-left: -60px;
                z-index: -1;
                a {
                    height: 120px;
                    width: 120px;
                    text-align: center;
                    line-height: 90px;
                    border-radius: 50%;
                    background: var(--ztc-bg-bg-1);
                    transition: all .4s;
                    display: inline-block;
                    span {
                        height: 48px;
                        width: 48px;
                        text-align: center;
                        line-height: 48px;
                        display: inline-block;
                        transition: all .4s;
                        background: var(--ztc-bg-bg-7);
                        border-radius: 50%;
                        color: var(--ztc-text-text-4);
                        transform: rotate(-45deg);
                        font-size: var(--ztc-font-size-font-s20);
                    }
                }
            }
            .content-area {
                p {
                    color: var(--Paragraph-Color, #443E3E);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 16px;
                    text-transform: uppercase;        
                }
                a {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px; 
                    text-transform: uppercase; 
                    display: inline-block;
                    transition: all .4s;  
                    &:hover {
                        color: var(--ztc-text-text-8);
                        transition: all .4s;
                    }     
                }
            }
        }
    }
}
/*============= WORK CSS AREA ===============*/